.box {
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.LOCKED {
    background-color: #ececec;
    color: #b7b7b7;
}

.SILENT {
    background-color: #784e42;
    color: white;
    //text-shadow: 1px 1px 1px #616961;
}

.STANDBY {
    background-color: #2ecc71;
    color: white;
    text-shadow: 1px 1px 1px #26a95e;
}

.OPERATIVE {
    animation-name: anim;
    animation-iteration-count: infinite;
    animation-duration: 500ms;
    color: white;

}

@keyframes anim {
    0% {
        background-color: #f39c12;
        text-shadow: 1px 1px 1px #c17c0e;
    }

    50% {
        background-color: #f1c40f;
        text-shadow: 1px 1px 1px #d2ab0d;
    }

    100% {
        background-color: #f39c12;
        text-shadow: 1px 1px 1px #c17c0e;
    }
}

.DONE {
    background-color: #4B77BE;
    color: white;
    text-shadow: 1px 1px 1px #4668aa
}

.eventTable {
    width: 100%;
}

.eventTable td {
    padding: 10px;
}

.eventTable tr:nth-child(1) td:nth-child(1),
.eventTable tr:nth-child(1) td:nth-child(2),
.eventTable tr:nth-child(1) td:nth-child(3) {
    width: 10%;
    height: 200px;
}

.eventTable tr:nth-child(1) td:nth-child(4),
.eventTable tr:nth-child(1) td:nth-child(5),
.eventTable tr:nth-child(1) td:nth-child(6),
.eventTable tr:nth-child(1) td:nth-child(7),
.eventTable tr:nth-child(2) td {
    width: 17.5%;
    height: 90px;
}

.eventTable tr:nth-child(3) td {
    height: 90px;
    padding: 10px;
}

.navbar-sprinkler {
    border-radius: 0;
}

.navbar-sprinkler .navbar-brand {
    color: #3498db;
}

@media only screen and (orientation: portrait) {
    .alwaysLandscape {
        height: 100vw;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@media only screen and (orientation: landscape) {
    .alwaysLandscape {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.floatLeft {
    float: left;
    text-align: left;
}

.floatRight {
    float: right;
    text-align: right;
}

.loadingSpan {
    margin-top: 23px;
    font-size: 23pt;
}


.navbar-sprinkler {
    background-color: #1e6cea;
    border-color: #055ae4;
}
.navbar-sprinkler .navbar-brand {
    color: #ffffff;
}
.navbar-sprinkler .navbar-brand:hover,
.navbar-sprinkler .navbar-brand:focus {
    color: #ffffff;
}
.navbar-sprinkler .navbar-text {
    color: #ffffff;
}
.navbar-sprinkler .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-sprinkler .navbar-nav > li > a:hover,
.navbar-sprinkler .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #3b82f6;
}
.navbar-sprinkler .navbar-nav > li > .dropdown-menu {
    background-color: #1e6cea;
}
.navbar-sprinkler .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
}
.navbar-sprinkler .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-sprinkler .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #055ae4;
}
.navbar-sprinkler .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #055ae4;
}
.navbar-sprinkler .navbar-nav .open .dropdown-menu > .active > a,
.navbar-sprinkler .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-sprinkler .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #055ae4;
}
.navbar-sprinkler .navbar-nav > .active > a,
.navbar-sprinkler .navbar-nav > .active > a:hover,
.navbar-sprinkler .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #055ae4;
}
.navbar-sprinkler .navbar-nav > .open > a,
.navbar-sprinkler .navbar-nav > .open > a:hover,
.navbar-sprinkler .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #055ae4;
}
.navbar-sprinkler .navbar-toggle {
    border-color: #055ae4;
}
.navbar-sprinkler .navbar-toggle:hover,
.navbar-sprinkler .navbar-toggle:focus {
    background-color: #055ae4;
}
.navbar-sprinkler .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-sprinkler .navbar-collapse,
.navbar-sprinkler .navbar-form {
    border-color: #ffffff;
}
.navbar-sprinkler .navbar-link {
    color: #ffffff;
}
.navbar-sprinkler .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-sprinkler .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-sprinkler .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-sprinkler .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-sprinkler .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-sprinkler .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-sprinkler .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #055ae4;
    }
}

.pointer {
    cursor: pointer;
}