@import "login.css";
.box {
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.LOCKED {
    background-color: #d8d0d6;
    color: white;
}

.SILENT {
    background-color: #ff5c00;
    color: white;
}

.STANDBY {
    background-color: #11be49;
    color: white;
}

.OPERATIVE {
    animation-name: anim;
    animation-iteration-count: infinite;
    animation-duration: 500ms;
    color: white;
}

@keyframes anim {
    0% {
        background-color: #889e60;
    }

    50% {
        background-color: #aac379;
    }

    100% {
        background-color: #889e60;
    }
}

.DONE {
    background-color: #3ea7ff;
    color: white;
}

.eventTable {
    width: 100%;
}

.eventTable td {
    padding: 10px;
}

.eventTable tr:nth-child(1) td:nth-child(1),
.eventTable tr:nth-child(1) td:nth-child(2),
.eventTable tr:nth-child(1) td:nth-child(3) {
    width: 10%;
    height: 200px;
}

.eventTable tr:nth-child(1) td:nth-child(4),
.eventTable tr:nth-child(1) td:nth-child(5),
.eventTable tr:nth-child(1) td:nth-child(6),
.eventTable tr:nth-child(1) td:nth-child(7),
.eventTable tr:nth-child(2) td {
    width: 17.5%;
    height: 90px;
}


.eventTable tr:nth-child(3) td {
    height: 90px;
    padding: 10px;
}

.navbar-sprinkler {
    border-radius: 0;
}

.navbar-sprinkler .navbar-brand {
    color: #27f8ff;
}

@media only screen and (orientation:portrait){
    .alwaysLandscape {
        height: 100vw;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@media only screen and (orientation:landscape){
    .alwaysLandscape {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}